.display {
  display: grid;
  justify-content: center;
}

.label-cabine {
  max-width: 140px;
}

.custom-select-lg {
  font-size: 0.8rem;
  height: 40px;
  padding-left: 17px;
  letter-spacing: 0.6px;
}
