.matricula {
  input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      /* Works for Firefox */
      input[type="number"] {
        -moz-appearance: textfield;
      }
}

.image {
  max-width: 25rem;
}

.cadastro {
  display: grid;
  align-items: center;
}
