<div class="container py-3 display">
  <div class="col-12">
    <h4>Gestão de inventário</h4>
  </div>
  <form action="#" autocomplete="off" [formGroup]="produtosForm">
    <div class="col-12 label-cabine mt-5 mb-4">
      <div class="form-group mt-3">
        <label for="form-cabine">SKU</label>
        <select formControlName="sku" class="custom-select custom-select-lg no-border" id="form-cabine">
          <option value="" selected disabled>Selecione</option>
          <option *ngFor="let produto of selectProdutos" [value]="produto">{{produto}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 p-0">
      <div class="col-12">
        <h5>1) Quantidade de peças no carro</h5>
        <input formControlName="qtdPecasCarro" type="text" class="form-control">
      </div>
    </div>
    <div class="col-12 mt-4">
      <div class="form-group mt-3">
        <label for="form-cabine">Status</label>
        <select formControlName="status" class="custom-select custom-select-lg no-border" id="form-cabine">
          <option value="" selected disabled>Selecione</option>
          <option *ngFor="let status of selectStatus" [value]="status">{{status}}</option>
        </select>
      </div>
    </div>
    <div class="col-12 mt-4 p-0">
      <div class="col-12">
        <h5> Observação </h5>
        <input formControlName="observacao" type="text" class="form-control">
      </div>
    </div>
    <div class="col-12 mt-4 d-flex justify-content-center">
      <button type="button" class="btn btn-primary">Enviar</button>
    </div>
  </form>
</div>
